<% layout("/layouts/boilerplate.ejs") %>

<body>
    <div class="act_main">
        <div class="act_titles">
            <a class="act_head" href="/acts/chap1">CHAPTER-I: PRELIMINARY</a>
        </div>

        <br>
        

        <div class="act_titles">
            <a class="act_head" href="/acts/chap2">CHAPTER -II: COMMERCIAL COURTS, COMMERCIAL APPELLATE COURTS</a>
        </div>

        <br>
    

        <div class="act_titles">
            <a class="act_head" href="/acts/chap3">CHAPTER-III: SPECIFIED VALUE</a>
        </div>

        <br>
        

        <div class="act_titles">
            <a class="act_head" href="/acts/chap3a">CHAPTER-IIIA: PRE-INSTITUTION MEDIATION AND SETTLEMENT</a>
        </div>

        <br>
        

        <div class="act_titles">
            <a class="act_head" href="/acts/chap4">CHAPTER-IV: APPEALS</a>
        </div>

        <br>

        <div class="act_titles">
            <a class="act_head" href="/acts/chap5">CHAPTER-V: TRANSFER OF PENDING SUITS</a>
        </div>

        <br>

        <div class="act_titles">
            <a class="act_head" href="/acts/chap6">CHAPTER-VI: AMENDMENTS TO THE PROVISIONS OF THE CODE OF CIVIL PROCEDURE, 1908</a>
        </div>

        <br>

        <div class="act_titles">
            <a class="act_head" href="/acts/chap7">CHAPTER-VII: MISCELLANEOUS</a>
        </div>
    </div>
</body>