<% layout("/layouts/boilerplate.ejs") %>

<body>
    <div class="acts_cont">
        <h2>Ammendments to the Code of Civil Procedure, 1908 in its application to commercial disputes.</h2>
        <br>
        <h3>(1) The provisions of the Code of Civil Procedure, 1908 (5 of 1908) shall, in their application to any suit in respect
        of a commercial dispute of a Specified Value, stand amended in the manner as specified in the Schedule.<br>
        (2) The Commercial Division and Commercial Court shall follow the provisions of the Code of Civil Procedure, 1908 (5 of
        1908), as amended by this Act, in the trial of a suit in respect of a commercial dispute of a Specified Value.<br>
        (3) Where any provision of any Rule of the jurisdictional High Court or any amendment to the Code of Civil Procedure,
        1908 (5 of 1908), by the State Government is in conflict with the provisions of the Code of Civil Procedure, 1908 (5 of
        1908), as amended by this Act, the provisions of the Code of Civil Procedure as amended by this Act shall prevail.
        </h3>
        <br><br>
    </div>
</body>