<% layout("/layouts/boilerplate.ejs") %>

<body>
    <div class="acts_cont">
        <h2>SECTION 3A: Pre Institution Mediation and Settlement.</h2>
        <br>
        <h3>
            Pre-Institution Mediation and Settlement--<br> (1) A suit, which does not contemplate any urgent interim relief under
            this Act, shall not be instituted unless the plaintiff exhausts the remedy of preinstitution mediation in accordance
            with such manner and procedure as may be prescribed by rules made by the Central Government.<br>
            (2) The Central Government may, by notification, authorise the Authorities constituted under the Legal Services
            Authorities Act, 1987 (39 of 1987), for the purposes of pre-institution mediation.<br>
            (3) Notwithstanding anything contained in the Legal Services Authorities Act, 1987 (39 of 1987), the Authority
            authorised by the Central Government under sub-section (2) shall complete the process of mediation within a period of
            three months from the date of application made by the plaintiff under sub-section <br>
            Provided that the period of mediation may be extended for a further period of two months with the consent of the
            parties:
            Provided further that, the period during which the parties remained occupied with the pre-institution mediation, such
            period shall not be computed for the purpose of limitation under the Limitation Act, 1963 (36 of 1963).<br>
            (4) If the parties to the commercial dispute arrive at a settlement, the same shall be reduced into writing and shall be
            signed by the parties to the dispute and the mediator.<br>
            (5) The settlement arrived at under this section shall have the same status and effect as if it is an arbitral award on
            agreed terms under sub-section (4) of section 30 of the Arbitration and Conciliation Act, 1996 (26 of 1996).

            <br>
            <hr>

            1. Ins. by s. 11, ibid. (w.e.f. 3-5-2018).
            <hr>
        </h3>
    </div>
</body>