<% layout("/layouts/boilerplate.ejs") %>

<body>
    <div class="acts_cont">
        <h2>SECTION 3: Constitution of Commercial Courts</h2>
        <br>
        <h3>
            Constitution of Commercial Courts.-- <br>(1) The State Government, may after consultation with the concerned High Court,
            by notification, constitute such number of Commercial Courts at District level, as it may deem necessary for the purpose
            of exercising the jurisdiction and powers conferred on those Courts under this Act:<br>
            2[Provided that with respect to the High Courts having ordinary original civil jurisdiction, the State Government may,
            after consultation with the concerned High Court, by notification, constitute Commercial Courts at the District Judge
            level:<br>
            Provided further that with respect to a territory over which the High Courts have ordinary original civil jurisdiction,
            the State Government may, by notification, specify such pecuniary value which shall not be less than three lakh rupees
            and not more than the pecuniary jurisdiction exercisable by the District Courts, as it may consider necessary.]<br>
            [(1A) Notwithstanding anything contained in this Act, the State Government may, after consultation with the concerned
            High Court, by notification, specify such pecuniary value which shall not be less than three lakh rupees or such higher
            value, for whole or part of the State, as it may consider necessary.];<br>
            (2) The State Government shall, after consultation with the concerned High Court specify, by notification, the local
            limits of the area to which the jurisdiction of a Commercial Court shall extend and may, from time to time, increase,
            reduce or alter such limits.<br>
            (3) The 4[State Government may], with the concurrence of the Chief Justice of the High Court appoint one or more persons
            having experience in dealing with commercial disputes to be the Judge or Judges, of a 5[Commercial Court either at the
            level of District Judge or a court below the level of a District Judge].
            
            <hr>
            
            1. Subs. by Act 28 of 2018, s. 5, for "CONSTITUTION OF COMMERCIAL COURTS, COMMERCIAL DIVISIONS AND COMMERCIAL APPELLATE
            DIVISIONS" (w.e.f. 3-5-2018).<br>
            2. Subs. by s. 6, ibid., for the proviso (w.e.f. 3-5-2018).<br>
            3. Ins. by s. 6, ibid., (w.e.f. 3-5-2018).<br>
            4. Subs. by s. 6, ibid., for "State Government shall" (w.e.f. 3-5-2018).<br>
            5. Subs. by s. 6, ibid., for "Commercial Court, from amongst the cadre of Higher Judicial Service in the State" (w.e.f.
            3-5-2018).

            <hr>
        </h3>
        <br><br>

        <h2>SECTION 3A: Designation of Commercial Appellate Courts</h2>
        <br>
        <h3>[3A. Designation of Commercial Appellate Courts.--<br> Except the territories over which the High Courts have ordinary
            original civil jurisdiction, the State Government may, after consultation with the concerned High Court, by
            notification, designate such number of Commercial Appellate Courts at District Judge level, as it may deem
            necessary, for the purposes of exercising the jurisdiction and powers conferred on those Courts under this Act.]
            <br>
            <hr>
            Ins. by s. 7, ibid., (w.e.f. 3-5-2018).
            <hr>
        </h3>
        <br><br>

        <h2>SECTION 4: Constitution of Commercial Division of High Court</h2>
        <br>
        <h3>(1) In all High Courts, having 2[ordinary original civil jurisdiction], the Chief Justice of the High Court may, by
        order, constitute Commercial Division having one or more Benches consisting of a single Judge for the purpose of
        exercising the jurisdiction and powers conferred on it under this Act.<br>
        (2) The Chief Justice of the High Court shall nominate such Judges of the High Court who have experience in dealing with
        commercial disputes to be Judges of the Commercial Division.
        <br>
        <hr>     
        1. Subs. by s. 8, ibid., for "ordinary civil jurisdiction" (w.e.f. 3-5-2018).
        <hr>
    </h3>

    <h2>SECTION 5: Constitution of Commercial Appellate Division</h2>
    <br>
    <h3>(1) After issuing notification under subsection (1) of section 3 or order under sub-section (1) of section 4, the Chief
    Justice of the concerned High Court shall, by order, constitute Commercial Appellate Division having one or more
    Division Benches for the purpose of exercising the jurisdiction and powers conferred on it by the Act.<br>
    (2) The Chief Justice of the High Court shall nominate such Judges of the High Court who have experience in dealing with
    commercial disputes to be Judges of the Commercial Appellate Division.</h3>

    <br><br>

    <h2>SECTION 6: Jurisdiction of Commercial Court.</h2>
    <br>
    <h3>
        The Commercial Court shall have jurisdiction to try all suits and applications relating to a commercial dispute of a
        Specified Value arising out of the entire territory of the State over which it has been vested territorial jurisdiction.<br>
        Explanation.-- For the purposes of this section, a commercial dispute shall be considered to arise out of the entire
        territory of the State over which a Commercial Court has been vested jurisdiction, if the suit or application relating
        to such commercial dispute has been instituted as per the provisions of sections 16 to 20 of the Code of Civil
        Procedure, 1908 (5 of 1908).
    </h3>

    <br><br>

    <h2>SECTION 7: Jurisdiction of Commercial Divsions of High Courts</h2>
    <br>
    <h3>All suits and applications relating to commercial disputes of a Specified Value filed in a High Court having ordinary
    original civil jurisdiction shall be heard and disposed of by the Commercial Division of that High Court:<br>
    Provided that all suits and applications relating to commercial disputes, stipulated by an Act to lie in a court not
    inferior to a District Court, and filed or pending on the original side of the High Court, shall be heard and disposed
    of by the Commercial Division of the High Court:<br>
    Provided further that all suits and applications transferred to the High Court by virtue of sub-section (4) of section
    22 of the Designs Act, 2000 (16 of 2000) or section 104 of the Patents Act, 1970 (39 of 1970) shall be heard and
    disposed of by the Commercial Division of the High Court in all the areas over which the High Court exercises ordinary
    original civil jurisdiction.
    </h3>


    <br><br>

    <h2>SECTION 8: Bar against revision application or petition against an interlocutory order</h2>
    <br>
    <h3>Notwithstanding anything contained in any other law for the time being in force, no civil revision application or petition shall be entertained against any interlocutory order of a Commercial Court, including an order on the issue of jurisdiction, and any such challenge, subject to the provisions of section 13, shall be raised only in an appeal against the decree of the Commercial Court.</h3>
    <br><br>

    <h2>SECTION 9: Transfer of suit if counterclaim in a commercial dispute is of specified Value.</h2>
    <br>
    <h3>Transfer of suit if counterclaim in a commercial dispute is of Specified Value].-- Omitted by the Commercial Courts, Commercial Division and Commercial Appellate Division of High Courts (Amendment) Act, 2018 (28 of 2018), s. 9 (w.e.f. 3-5-2018)</h3>
    <br><br>

    <h2>SECTION 10: Jurisdiction in respect of arbitration matters</h2>
    <br>
    <h3>Where the subject-matter of an arbitration is a commercial dispute of a Specified Value and--<br>
    (1) If such arbitration is an international commercial arbitration, all applications or appeals arising out of such
    arbitration under the provisions of the Arbitration and Conciliation Act, 1996 (26 of 1996) that have been filed in a
    High Court, shall be heard and disposed of by the Commercial Division where such Commercial Division has been
    constituted in such High Court.<br>
    (2) If such arbitration is other than an international commercial arbitration, all applications or appeals arising out
    of such arbitration under the provisions of the Arbitration and Conciliation Act, 1996 (26 of 1996) that have been filed
    on the original side of the High Court, shall be heard and disposed of by the Commercial Division where such Commercial
    Division has been constituted in such High Court.<br>
    (3) If such arbitration is other than an international commercial arbitration, all applications or appeals arising out
    of such arbitration under the provisions of the Arbitration and Conciliation Act, 1996 (26 of 1996) that would
    ordinarily lie before any principal civil court of original jurisdiction in a district (not being a High Court) shall be
    filed in, and heard and disposed of by the Commercial Court exercising territorial jurisdiction over such arbitration
    where such Commercial Court has been constituted.
    </h3>

    <br><br>

    <h2>SECTION 11: Bar of jurisdiction of Commecial Courts and Commercial Divisions.</h2>
    <br>
    <h3>Notwithstanding anything contained in this Act, a Commercial Court or a Commercial Division shall not entertain or
        decide any suit, application or proceedings relating to any commercial dispute in respect of which the jurisdiction
        of the civil court is either expressly or impliedly barred under any other law for the time being in force.
    </h3>

    <br><br>
    
    </div>
</body>