<% layout("/layouts/boilerplate.ejs") %>

<body>
    <div class="form_main">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"></span>
            <input type="text" class="form-control" placeholder="Case Title" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"></span>
            <input type="text" class="form-control" placeholder="Court Name" aria-label="Username" aria-describedby="basic-addon1">
        </div>
    
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"></span>
            <input type="text" class="form-control" placeholder="Case Number" aria-label="Username" aria-describedby="basic-addon1">
        </div>
    
        <div class="input-group mb-3" >
            <span class="input-group-text" id="basic-addon1"></span>
            <input type="text" class="form-control" placeholder="Judge Name" aria-label="Username" aria-describedby="basic-addon1">
        </div>      
          
        <div class="input-group" >
            <span class="input-group-text">Your Customizations</span>
            <textarea class="form-control" aria-label="Customizations"></textarea>
        </div>
    
        <br>
    
        <div >
            <label for="formFileLg" class="form-label">Large file input</label>
            <input class="form-control form-control-lg" id="formFileLg" type="file">
        </div>

        <br>

        <button type="button" class="btn btn-dark" style="width: 100px; height: 50px">Upload</button>


    </div>
</body>