<% layout("/layouts/boilerplate.ejs") %>

<body>
  
    <div class="intro">
      <div class="intro_head">
        <h1 class="conintro">Introduction</h1>
      </div>

      <div class="intro_content">
        The objective of this project is to create an AI-driven research engine tailored for legal professionals, particularly
        judges and judicial officers in commercial courts. By leveraging advanced AI technologies, the system aims to streamline
        legal research, providing faster access to case law, statutes, and legal precedents. This solution will be customized
        for different legal systems, predictive in analyzing case outcomes, reliable in delivering accurate information, and
        user-friendly to enhance adoption. It will also support multiple languages to accommodate diverse jurisdictions and
        ensure ethical neutrality by avoiding biases, ultimately contributing to more efficient dispute resolution.
      </div>

      <a href="/work"> <button class="intro_button">Learn More!</button> </a>
    </div>

    <div class="main_sub">
      <div class="model">
        <h2 class="model_head">Advanced Research Engine Model for Case Summaries & Outcomes</h2>
        <br><br><br><br>
        <a href="/form"> <button class="model_button">Try Our Model</button> </a>
  
      </div>

      <div class="about">
        <h2 class="about_head">About Us!</h2>
        <br>
        <ul>
          <li class="about_info">Team Name: Verdict Ventures</li>
          <li class="about_info">Team ID: 34808</li>
          <li class="about_info">PS ID: 1701</li>
          <li class="about_info">PS Title: AI-Driven Research 
            Engine for Commercial Courts</li>
        </ul>

      </div>

    </div>
    
</body>