
<footer>
    <div class="main_foot">
      <div class="contact_txt">Contact Us:</div>

      <div class="contact_links">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
      </div>

      <div class="team">Team Verdict Ventures</div>

    </div>
</footer>