
<nav class="navbar navbar-expand-lg sticky-top" style="background-color: #ece9de;">
    <div class="container-fluid">
      <a class="navbar-brand logo" href="/home">Verdict<br>Ventures</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" aria-current="page" href="/home">Home</a>
          <a class="nav-link" href="/acts">Commercial Courts Acts 2015</a>
          <a class="nav-link" href="/work">Working of Model</a>
          <a class="nav-link" href="/ethics">Ethical AI</a>
        </div>
      </div>
    </div>
</nav>

